::-webkit-scrollbar {
    display: none;
  }
  
  body {
    padding:0%;
    margin:0%;
    background: black;
  }
  
  .scroll-container,
  .scroll-area {
    max-width: 100wh;
    font-size: 60px;
    height: 100vh;
    font-family: Michroma;
  }
  
  .scroll-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
  }
  
  .scroll-area {
    scroll-snap-align: center;
  }
  
  .scroll-container,
  .scroll-area {
    margin: 0 ;
  }
  
  .scroll-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  .scroll-area:nth-of-type(1) {
    background: black;
  }
  
  .scroll-area:nth-of-type(2) {
    background: black
  }
  
  .scroll-area:nth-of-type(3) {
    background: black;
  }
  
  .scroll-area:nth-of-type(4) {
    background: black;
  }
  
  .pers-head{
    color: #FFF;
    font-family: Michroma;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 5%;
    top: 20%;
    position:fixed;
    z-index: 5;
  }
  .webgl-content{
    position: fixed;
    top: 25%;
    left: 50;
    width: 60%;
    height: 70%;
    z-index: 5;
    background: transparent;
    color: white;
    overflow: hidden;
  }
  .webgl{
    z-index:10;
    width:100%;
  }